<meta charset="utf-8"/>
<meta content="IE=edge" http-equiv="X-UA-Compatible"/>
<meta content="width=device-width, initial-scale=1" name="viewport"/>
<title>
    {{ page.title }}
</title>
<link href=" {{config.urls.templates }}assets/css/bootstrap.min.css" rel="stylesheet"/>
<link href="{{config.urls.templates }}assets/css/main.min.css" rel="stylesheet"/>
<link rel='stylesheet' type='text/css' href='{{config.urls.FieldtypeComments}}comments.css' />
<script src="{{config.urls.templates }}assets/js/vendors/jquery-1.11.3.min.js">
</script>
<script src="{{config.urls.templates }}assets/js/vendors/bootstrap.min.js">
</script>
<script src="{{config.urls.FieldtypeComments}}comments.js"></script>